*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 240, 240);
    color: rgb(0, 0, 0);
    text-align: center;
}
ion-card {
    width: 350px;
    height: 310px;
    margin: 20px;
    background-color: #1e1e1e;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    padding: 8px;
    text-align: center;
    cursor: pointer;
  }
  
  ion-card:hover {
    box-shadow: 8px 8px 16px rgba(255, 1, 1, 0.4);

  }
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ion-card-content {
    font-size: 16px;
    border-radius: 0 0 25px 25px;
  }
ion-img {
    display: block;
    width: 334px;
    height: 150px;
    object-fit: cover;
}
ion-card-header {
    border-radius: 25px 25px 0 0;
}
#otVacia ion-card-content {
}