<ion-header>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-title size="large">Bienvenido a TypeShiet</ion-title>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="10" class="ion-text-center">
      <!-- Animación de carga -->
      <div class="loader-container">
        <div class="loader">
          <div class="loader-sphere"></div>
          <div class="loader-wave loader-wave-1"></div>
          <div class="loader-wave loader-wave-2"></div>
          <div class="loader-wave loader-wave-3"></div>
        </div>
        <p class="loader-text">Cargando...</p>
      </div>
      
      <h2>¡Comienza a escribir código de manera eficiente!</h2>
      <p>TypeShiet es tu compañero ideal para agilizar tus OT</p>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center ion-padding">
      <p>&copy; 2025 TypeShiet. Todos los derechos reservados.</p>
    </ion-col>
  </ion-row>
</ion-footer> 